body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    padding: 15px;
    background-color: black; 
    color: white;
    text-decoration: none;
    justify-content: space-between;
}

header div a{

    font-size: 20px;
    text-decoration: none;
    color: inherit;
}

.navsBar{
    margin-right: 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
    
    width: 100%;
}

a:hover{
    color: purple;
}

.container{

    width: 100vw;
    height: 95vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container_interno{

    border: 1px solid black;

    width: 30rem;
    height: 40rem;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.formCadastra{

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

input{
    width: 10rem;
}

.inputsCadastra{
    width: 80%;
	padding: 10px;
	border-radius: 15px;
    background-color: white;
    box-shadow: none;
    border: 1px solid black;
  
}

.imgST{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.tituloPaginaCadastra{

    display: flex;
    flex-direction: row;
}

.btn_cadastra{

    width: 100px;
    height: 50px;
    color: white;
    background-color: black;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.cabecalho {
    margin-top: 40px !important;
    background-color: #696969;
    box-sizing: border-box;
    color: white;
    display: flex;
    padding: 10px;
    width: 95%;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
}

.atributos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
}

.atributos p {
    font-weight: bold;
    margin: 0;
}

.editores {
    width: 5%;
}

.cabecalho_infos {
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    padding: 10px;
    width: 95%;
    margin: 0 auto;
    max-height: 50px;
}

.atributos_infos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
}

.atributos_infos p {
    font-weight: bold;
    margin: 0;
}

.editores_infos {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 5%;
    gap: 10px;
}

.tamanho_dado{
    width: 200px;
}

.tamanho_dado p{
    margin: 0 auto;
}

/* moldais de edicao */

section.modal_apaga{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.modal_apaga .container{
    background-color: white;
    width: 300px;
    height: 180px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    border-radius: 20px;
}

section.modal_apaga h2{
    font-size: 20px;
    text-align: center;
}

section.modal_apaga .botoes_del{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

section.modal_apaga div.container .fecha_modal{
    color: black;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    cursor: pointer;
}

.btt_confirma{
    background: none;
    border: 1px solid green;
    color: green;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-style: normal;
    font-size: 18px;
}

.btt_confirma:hover{
    background-color: green;
    color: white;
    transition: all .5s ease-in-out;
}

.btt_cancela{
    background: none;
    border: 1px solid red;
    color: red;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-style: normal;
    font-size: 18px;
}

.btt_cancela:hover{
    background-color: red;
    color: white;
    transition: all .5s ease-in-out;
}



section.modal_edita{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.modal_edita .container{
    background-color: white;
    width: 30vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    border-radius: 20px;
}

section.modal_edita h2{
    font-size: 20px;
    text-align: center;
}

section.modal_edita .botoes_del{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

section.modal_edita div.container .fecha_modal{
    color: black;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    cursor: pointer;
}

.modal_edita .container_interno{
    width: 20rem;
    height: 30rem;
}

.modal_edita .formCadastra{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* fim */

.btts{
    color: black;
}

.simbols_local{
    max-width: 20px;
    max-height: 20px;
}

.select_local{
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 0;
}

.select_local select{
    width: 100%;
}

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}