<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud Stormtrooper</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo_header.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    {% macro inputs(labels, id, name, type=text, value='') %}
        <div>
            <label for="{{ id }}">{{ labels }}:</label>
            <input class="inputsCadastra" id="{{ id }}" type="{{ type }}" name="{{ name }}" value="{{ value }}"/>
        </div>
    {% endmacro %}

    {% block header_logado%}
    {% endblock %}

    {% block conteudo%}
        <h1>teste extends2</h1>
    {% endblock %}
</body>

<script src="{{ url_for('static', filename='js/brain.js') }}"></script>
<script src="https://kit.fontawesome.com/a5c9c73bd2.js" crossorigin="anonymous"></script>
</html>