{% extends 'base_logado.html' %} 

{% macro inputs(labels, id, name, type=text) %}

    <div>
        <label for="{{ id }}">{{ labels }}:</label>
        <input class="inputsCadastra" id="{{ id }}" type="{{ type }}" name="{{ name }}"/>
    </div>

{% endmacro %} 

{% block conteudo%}
    <div class="container">
        <div class="container_interno">

            <div class="tituloPaginaCadastra">
                <img src="{{ url_for('static', filename='images/imgST.png') }}" alt="STORMTROOPERRRR" class="imgST">
                <h3>Cadastre um Stormtrooper:</h3>
            </div>

            <form class="formCadastra" id="formCadastra" action="/cadastra" method="POST">

                <input type="hidden" name="operacao" value="cad">

                {{ inputs('Nome',  'cadastraNome', 'nome', 'text') }} 
                {{ inputs('Número', 'cadastraNum', 'numero', 'number') }}
                {{ inputs('Peso', 'cadastraPeso', 'peso', 'number') }}
                {{ inputs('Altura', 'cadastraAltura', 'altura', 'number') }} 
                
                <div class="">
                    <label for="local">Local de atuação:</label>
                    <select class="inputsCadastra" name="local">
                        <option value="Estrela da morte" selected>Estrela da morte</option>
                        <option value="Planetas">Planetas</option>
                        <option value="Patrulha espacial">Patrulha espacial</option>
                    </select>    
                </div>

                <button id="btn_cadastra" type="submit">CADASTRAR</button>
               
            </form>
        </div>   
    </div>
{% endblock %}
