{% extends 'base_logado.html' %}

{% block conteudo%}
    <div class="cabecalho">

        <div class="atributos">
            <div class="tamanho_dado">
                <p>Número</p>
            </div>
            <div class="tamanho_dado">
                <p>Nome</p>
            </div>
            <div class="tamanho_dado">
                <p>Peso</p>
            </div>
            <div class="tamanho_dado">
                <p>Altura</p>
            </div>
            <div class="tamanho_dado">
                <p>Local de Atuação</p>
            </div>
        </div>

        <div class="editores"></div>
    </div>

    {% set tipo_icon = 'fa-sharp fa-solid fa-space-station-moon-construction' %}
    {% for row in dict_informacoes%}
        {% if row["local_atua"] == "Estrela da morte"%}
            {% set tipo_icon = 'fa-sharp fa-solid fa-space-station-moon-construction' %}
        {% elif row["local_atua"] == "Planetas"%}
            {% set tipo_icon = 'fa-sharp fa-solid fa-planet-ringed' %}
        {% elif row["local_atua"] == "Patrulha espacial"%}
            {% set tipo_icon = 'fa-sharp fa-solid fa-solar-system' %}
        {% endif %}
        
        <div class="cabecalho_infos">

            <div class="atributos_infos">
                <div class="tamanho_dado">
                    <p>{{row["numero"]}}</p>
                </div>
                <div class="tamanho_dado">
                    <p>{{row["nome"]}}</p>
                </div>
                <div class="tamanho_dado">
                    <p>{{row["peso"]}}</p>
                </div>
                <div class="tamanho_dado">
                    <p>{{row["altura"]}}</p>
                </div>
                <div class="tamanho_dado">
                    <p>{{row["local_atua"]}} <i class=""></p>
                </div>
            </div>

            <div class="editores_infos">
                <a href="/home/apaga{{row['numero']}}" class="btts"><i class="fa-sharp fa-solid fa-trash"></i></a>
                <a href="/home/apaga{{row['numero']}}" class="btts"><i class="fa-sharp fa-solid fa-pencil"></i></a>
            </div>
        </div>
    {% endfor %}
    
    {% if pk_numero %}
        <section class="modal_apaga">
            <div class="container">
                <h2>Deseja realmente apagar o Stormtrooper N° {{pk_numero}}?</h2>
                <div class="botoes_del">
                    <a class="btt_confirma" href="/delete/{{pk_numero}}">Confirmar</a>
                    <a class="btt_cancela" href="/home">Cancelar</a>
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}

